name: Gradle Build on PR

on:
  pull_request:
    branches: [ "main"]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build
